<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <%- include ('partials/header') %>
    <div class="p-4 grid grid-cols-2 gap-8">
        <div class="shrink-0 items-center justify-center flex">
            <img src="<%= product.image_url %>" class="object-cover " > 
        </div>
        <div class="">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 ">
                    <li class="inline-flex items-center">
                        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-500">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li class="inline-flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-500">
                            Sản phẩm
                        </a>
                    </li>
                </ol>
            </nav>
            <div class="mt-4">
                <h1 class="font-bold text-gray-800 text-4xl">
                    <%= product.name %>
                </h1>   
            </div>
            <div class="mt-4">
                <div class="font-bold">
                    <%= Number(product.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                </div>
            </div>
            <div class="mt-4">
                <div class="">
                    <button class="font-bold text-white bg-blue-500 p-4 rounded-md hover:bg-blue-800" type="button"
                    data-id="<%= product._id %>" data-name="<%= product.name %>" data-price="<%= product.price %>"
                    >
                        Thêm vào giỏ
                    </button>
                </div>
            </div>
            <div class="w-full mt-2 border"></div>
            <div class="mt-4">
                <div class="font-mono text-sm text-gray-600"><%= product.description %></div>
            </div> 
            
        </div>
    </div>

    <script>
        
    </script>
</body>
</html>
